<% layout("layouts/boilerplate.ejs") %>

<h1 class="col-12 offset-4 mb-5">Login Page</h1>

<div class="row">
    <form action="/users/login" method="POST">
        <div class="col-md-5 offset-3 mb-5">
            <label for="username">Username</label>
            <input type="text" placeholder="Enter username here...">
        </div>
        <div class="col-md-5 offset-3 mb-2">
            <label for="password"> Password</label>
            <input type="text" placeholder="Enter password here...">
        </div>
        <button class="btn btn-success offset-4 mt-3">Register</button>
    </form>

</div>