.form {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  border: 3px solid red;
  margin-top: 50px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs input {
  height: 30px;
}
