nav {
  display: flex;
  justify-content: space-between;
  background-color: red;
  height: 50px;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding-right: 20px;
  font-size: larger;
}

.navbar-left {
  display: flex;
}

.navbar-right {
  display: flex;
}
